.metadata
terrsko/.settings/*
terrsko/Debug/*
terrsko/Release
pixel2rgb565

terrsko\.settings
terrsko\Debug\Core
terrsko\Debug\Drivers
terrsko\Debug\Middlewares

terrsko\Release
terrsko\Debug\USB_Device
pixel2rgb565

